ReplaceVarWithType/ReplaceVarWithType.Vsix/bin/Release/extension.vsixmanifest
ReplaceVarWithType/ReplaceVarWithType.Vsix/bin/Release/ReplaceVarWithType.vsix
*.vsix_
ReplaceVarWithType/ReplaceVarWithType.Vsix/bin/Release/var.JPG
ReplaceVarWithType/ReplaceVarWithType.Vsix/obj/Release/ReplaceVarWithType.Vsix.csproj.VsixDeployedFileListAbsolute.txt
ReplaceVarWithType/ReplaceVarWithType.Vsix/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ReplaceVarWithType/ReplaceVarWithType/obj/Release/ReplaceVarWithType.csproj.FileListAbsolute.txt
ReplaceVarWithType/ReplaceVarWithType.Vsix/bin/Release/ReplaceVarWithType.Vsix.vsix